In [68]:
import redis
import random
import pandas as pd

In [2]:
r = redis.Redis(
  host='Enter Reddit host here',
  port=16777,
  password='Enter password here',
  decode_responses=True )

# Beer: 20 Get All

In [69]:
# Perform HGETALL operation on the key 'beer:20'
key = 'beer:20'

In [70]:
# Perform HGETALL operation on the key 'beer:20'
beer_details = r.hgetall(key)

In [71]:
beer_details

{'brewery_id': '483',
 'name': 'Cow Palace Scotch Ale 1998',
 'cat_id': '1',
 'style_id': '15',
 'abv': '8.7',
 'ibu': '0.0',
 'srm': '0.0',
 'upc': '0'}

# Get Brewery 119

In [72]:
# Perform HGETALL operation on the key 'beer:20'
key = 'brewery:119'

In [73]:
# Perform HGETALL operation on the key 'beer:20'
brewery_details = r.hgetall(key)

In [74]:
brewery_details

{'name': 'Big Ridge Brewing',
 'address1': '15133 Highway 10',
 'city': 'Surrey',
 'state': 'British Columbia',
 'code': '0',
 'country': 'Canada',
 'phone': '1-604-574-2739'}

# Get a random sample of 1000 beers from a REDIS database

In [9]:
# Pattern for keys representing beers
beer_pattern = 'beer:*'

# Fetch all keys matching the pattern
beer_keys = r.keys(beer_pattern)

In [10]:
# Number of beers to sample
sample_size = 1000

# Sample random keys
random_keys = random.sample(beer_keys, min(len(beer_keys), sample_size))

In [11]:
random_keys[10]

'beer:2975'

In [12]:
def fetch_random_beer_keys(redis_client, sample_size=1000):
    """
    Fetch a random sample of beer keys from Redis.
    """
    cursor = '0'
    sampled_keys = []
    all_keys = []
    
    while cursor != 0:
        cursor, keys = redis_client.scan(cursor=cursor, match="beer:*", count=1000)
        all_keys.extend(keys)
        # Early exit if we've collected enough keys to sample from
        if len(all_keys) >= sample_size * 10:  # Arbitrary multiplier for diversity
            break
    
    # Randomly sample keys if we have more than the desired sample size
    if len(all_keys) > sample_size:
        sampled_keys = random.sample(all_keys, sample_size)
    else:
        sampled_keys = all_keys
    
    return sampled_keys

In [13]:
def fetch_random_beer_keys(redis_client, sample_size=1000):
    """
    Fetch a random sample of beer keys from Redis.
    """
    cursor = '0'
    sampled_keys = []
    all_keys = []
    
    while cursor != 0:
        cursor, keys = redis_client.scan(cursor=cursor, match="beer:*", count=1000)
        all_keys.extend(keys)
    # Randomly sample keys if we have more than the desired sample size
    if len(all_keys) > sample_size:
        sampled_keys = random.sample(all_keys, sample_size)
    else:
        sampled_keys = all_keys
    
    return sampled_keys

In [14]:
def fetch_beer_details(redis_client, keys):
    """
    Fetch details for each beer key.
    """
    beers = [redis_client.hgetall(key) for key in keys]
    return beers

In [15]:
# Fetch 1000 random beer keys
random_beer_keys = fetch_random_beer_keys(r, 1000)

# Fetch details for these beers
random_beers = fetch_beer_details(r, random_beer_keys)

# Load into a pandas DataFrame
df_random_beers = pd.DataFrame(random_beers)

In [75]:
df_random_beers.shape

(1000, 13)

In [16]:
df_random_beers.head()

,cat_id,brewery_id,style_id,upc,name,filepath,abv,ibu,srm,descript,Unnamed:,0,12
0,5,1204,64,0,Vertical Epic 10.10.10,stone-verticalepic101010.jpg,9.5,0.0,0.0,Fermented with the legendary Ardennes strain o...,NaN,NaN,NaN
1,7,4,77,0,Genuine Pilsner,NaN,5.5,0.0,0.0,"The Aass Genuine Pilsner is a premium lager"" p...",11,Unnamed:,7/22/2010 20:00
2,3,723,33,0,La Roja,NaN,7.2,0.0,0.0,An artisan amber ale brewed in the Flanders tr...,NaN,NaN,NaN
3,3,731,33,0,Red Trolley Ale,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,8,1080,95,0,Calumet Wheat,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN

# 100 beers with ABV 7 AND up : ETL Approach

In [18]:
def fetch_first_100_beers_with_abv_7_and_up(redis_client, pattern='beer:*', abv_threshold=7.0, limit=100):
    """
    Fetch the first 500 beer records with ABV of 7 and up from Redis.
    """
    cursor = '0'
    beers_with_high_abv = []
    
    while cursor != 0 and len(beers_with_high_abv) < limit:
        cursor, keys = redis_client.scan(cursor=cursor, match=pattern, count=100)
        for key in keys:
            if len(beers_with_high_abv) >= limit:
                break  # Stop if we've collected enough beers
            beer = redis_client.hgetall(key)
            try:
                abv = float(beer.get('abv', 0))
                if abv >= abv_threshold:
                    beers_with_high_abv.append(beer)
            except ValueError:
                continue  # Skip records where ABV is not a float
    
    return beers_with_high_abv

In [19]:
beers = fetch_first_100_beers_with_abv_7_and_up(r)

In [22]:
beers

[{'brewery_id': '70',
  'name': 'Der Weisse Bock',
  'cat_id': '4',
  'style_id': '55',
  'abv': '8.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1373',
  'name': 'Norfolk Nog Old Dark Ale',
  'cat_id': '1',
  'style_id': '13',
  'abv': '99.99',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '1',
  'brewery_id': '549',
  'style_id': '15',
  'upc': '0',
  'name': 'Dirty Bastard Scotch Style Ale',
  'abv': '8.5',
  'descript': "Founders flagship beer. Dirty Bastard is an absolute beautiful beer to behold. Dark ruby in color and brewed with ten varieties of imported malts this beer continuously lives up to its reputation as a bold and powerful ale. Dirty Bastard is complex in the finish with hints of smoke and peat paired with a malty richness, finalized with a good bit of hop attitude.  This beer ain't for the wee lads."},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '4',
  'brewery_id': '960',
  'style_id': '55',
  'upc': '0',
  'name': "Otto's Weizenbock",
  'abv': '7.2',
  'descript': 'A strong dark German style wheat bock. This wheat beer is estery like the hefeweizen, but bigger with more of everything.'},
 {'brewery_id': '1298',
  'name': 'Northwind Imperial Stout',
  'cat_id': '3',
  'style_id': '42',
  'abv': '7.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1142',
  'name': 'Bigfoot 2003',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '9.6',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '524',
  'style_id': '31',
  'upc': '0',
  'name': 'Union Jack India Pale Ale',
  'abv': '7.5',
  'descript': 'The newest member of the Firestone family, Union Jack is the aggressive IPA that youâ€™ve been searching for. Citrus, pineapple, and a full chewy malt profile finish clean on your palate. Over 70 IBUs and 7.5% alcohol by volume, Union Jack wonâ€™t have any problem competing with the big India Pale Ales. A beer true to its origins; deeply hopped and bolstered for a long voyage.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1244',
  'style_id': '32',
  'upc': '0',
  'name': 'Heady Topper',
  'abv': '8.0',
  'descript': 'Is our double I.P.A.! Loaded with hops, this one will put hair on your chest.'},
 {'brewery_id': '743',
  'name': 'Canaster Winter Scotch',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.7',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '765',
  'name': 'Sirius',
  'cat_id': '11',
  'style_id': '113',
  'abv': '7.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '94',
  'style_id': '32',
  'upc': '0',
  'name': 'Hop Rod Rye',
  'abv': '8.0',
  'descript': 'Essentially a strong American IPA made with 20% rye malt. Darker in color, Hop Rod Rye boasts a huge hop aroma and flavor accompanied by a slightly sweet, malty finish.'},
 {'Unnamed:': '11',
  'brewery_id': '1009',
  'name': 'Old Viscosity',
  'abv': '10.5',
  'ibu': '0.0',
  'srm': '0.0',
  '12': ' Old Ale and Barleywines.',
  ' Stout': 'Unnamed:',
  'cat_id': '1',
  'style_id': '13',
  'upc': '0',
  'descript': 'Not your Dad\'s Wimpy 30 Weight is how our original label used to describe this massive chewy and thick beer. Code named by our brewers-"The Big Black Nasty'},
 {'brewery_id': '160',
  'name': 'Obovoid Empirical Stout',
  'cat_id': '3',
  'style_id': '43',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1093',
  'name': 'Pays du Soleil',
  'cat_id': '5',
  'style_id': '72',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0',
  'descript': 'Amber ale with Palmetto berries and hibiscus.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '2',
  'brewery_id': '1168',
  'style_id': '25',
  'upc': '0',
  'name': 'Brigantine Smoked Porter',
  'abv': '8.54',
  'descript': "Our Brigantine Smoked Porter, much like the high seas, can be a wild ride. This beer is dark brown and full bodied with roasted tones and a hint of chocolate. As if that weren't enough it finishes with a smoked flavor that seems right at home during cooler months here in Southern York County."},
 {'brewery_id': '1142',
  'name': 'Bigfoot 2005',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '9.6',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '765',
  'name': 'Brown Shugga',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '9.9',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1056',
  'name': 'Criminally Bad Elf',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '727',
  'name': 'Harvest Ale 1999',
  'cat_id': '1',
  'style_id': '13',
  'abv': '11.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1072',
  'style_id': '31',
  'upc': '0',
  'name': 'Tracktown IPA',
  'abv': '7.0',
  'descript': 'Offering a hop-heads paradise, this unfiltered Northwest-Style India Pale Ale introduces a big floral hop character to the aroma, flavor and finish. Hops, Hops, Hops from front to back but nicely offset with a malty richness that prevents this ale from being overbearing. Tracktown is made from 100% Floor Malted Maris Otter, 100% Northwest Amarillo Hops, Free Range Coastal Water, and absolutely No Chemicals, Additives, or Preservatives.'},
 {'brewery_id': '1295',
  'name': 'Bourbon Barrel Scotch Ale',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '7.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '2',
  'brewery_id': '771',
  'style_id': '25',
  'upc': '0',
  'name': 'Baltic Porter',
  'abv': '7.5',
  'descript': 'A traditional lager-style beer, with its dark color and medium body, has a defined hop flavor balanced by the smoothness of extra special roasted malt. This healthy dose of over six malt flavors makes this beer perfect for the transition from winter into spring.'},
 {'brewery_id': '1204',
  'name': 'Vertical Epic 07.07.07',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.4',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '191',
  'name': 'Hercule Stout',
  'cat_id': '3',
  'style_id': '42',
  'abv': '9.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '673',
  'style_id': '32',
  'upc': '0',
  'name': 'Hop Dam Triple IPA',
  'abv': '10.0',
  'descript': 'Some say â€œbigger is better!â€\x9d. At Hoppinâ€™ Frog, we built a massive hop dam to handle the enormous amount of hops added to this colossal American Triple I.P.A. An intense experience of citrus and piney hop character is complimented by layers of rich malt flavor. Behold our new standard for hoppy beers.'},
 {'brewery_id': '78',
  'name': 'Wild Brunette',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '7.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '849',
  'name': 'Talon',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '503',
  'name': 'Trompe La Mort',
  'cat_id': '7',
  'style_id': '90',
  'abv': '7.4',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '167',
  'name': 'La Chouffe Golden Ale',
  'cat_id': '5',
  'style_id': '65',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '432',
  'name': 'Lozen Boer Abt',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '908',
  'style_id': '35',
  'upc': '0',
  'name': 'Existential',
  'abv': '11.1',
  'descript': 'Consider it an extremely hoppy barleywine, or a really big IPA. Either way, ten hop additions contribute to its lush and intriguing body. Aggressive dry-hopping brings a strong citrus character to the aroma. The flavor and smell of orange-blossoms pervade throughout the experience.'},
 {'brewery_id': '276',
  'name': 'Malheur MM',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '483',
  'name': 'Abbot Pennings Grand Cru',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '572',
  'name': 'Prize Old Ale',
  'cat_id': '1',
  'style_id': '13',
  'abv': '9.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1142',
  'name': 'Bigfoot 2002',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '9.6',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '703',
  'name': 'Wee Beast',
  'cat_id': '1',
  'style_id': '15',
  'abv': '7.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '5',
  'brewery_id': '1326',
  'style_id': '61',
  'upc': '0',
  'name': 'Golden Monkey Tripel',
  'abv': '9.5',
  'descript': 'Strong and sensual, this golden, Belgian-style ale glows with goodness. The richness of German malts and Belgian yeast are tempered by a sparkling approach and overall light body. Considerable depth of character with abundant herbal, fruity notes make this one to savor.'},
 {'brewery_id': '188',
  'name': 'Scaldis / Bush Amber 12%',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '12.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '727',
  'name': 'Harvest Ale 2000',
  'cat_id': '1',
  'style_id': '13',
  'abv': '11.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '549',
  'style_id': '43',
  'upc': '0',
  'name': 'Founders Kentucky Breakfast',
  'abv': '10.0',
  'descript': 'A bit of backwoods pleasure without the banjo. This stout is brewed with a hint of coffee and vanilla then aged in oak bourbon barrels. Our process ensures that strong bourbon undertones come through in the finish in every batch we brew. We recommend decanting at room temperature and best enjoyed in a brandy snifter.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '2',
  'brewery_id': '441',
  'style_id': '25',
  'upc': '0',
  'name': 'Black Butte XXI',
  'abv': '11.0',
  'descript': 'It usually means bigger. Richer. And we can think of no better way to describe the taste of this even-bolder take on our classic, Black Butte Porter. Black Butte XX is an imperial porter with a lot more malt and hops, a wealth of coffee, cocoa nibs and aged in bourbon oak barrels. XX. It also means 20. Enjoy one during our 20th anniversary. On the flavor scale - Itâ€™s legendary.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '705',
  'style_id': '31',
  'upc': '0',
  'name': 'Flower Power India Pale Ale',
  'abv': '8.0',
  'descript': 'Enjoy the clover honey hue and tropical nose. Simultaneously Punchy and soothing with a big body and a finish that boasts pineapple and grapefruit. Flower power is hopped and dry-hopped five different times throughout the brewing and fermentation process.'},
 {'brewery_id': '195',
  'name': 'Amber',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '285',
  'name': 'Duinen Dubbel',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1',
  'style_id': '31',
  'upc': '0',
  'name': '(512) IPA',
  'abv': '7.0',
  'descript': '(512) India Pale Ale is a big, aggressively dry-hopped American IPA with smooth bitterness (~65 IBU) balanced by medium maltiness. Organic 2-row malted barley, loads of hops, and great Austin water create an ale with apricot and vanilla aromatics that lure you in for more.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '100',
  'style_id': '43',
  'upc': '0',
  'name': 'Expedition Stout',
  'abv': '10.5',
  'descript': 'The vintage port of American stout. A good ale for the cellar. Well suited for November storms and trips across the Sahara.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '-1',
  'brewery_id': '459',
  'style_id': '-1',
  'upc': '0',
  'name': 'Midas Touch Golden Elixir',
  'abv': '9.0',
  'descript': "This recipe is the actual oldest-known fermented beverage in the world! Our recipe showcases the known ingredients of barley, white Muscat grapes, honey & saffron found in the drinking vessels in King Midas' tomb! Somewhere between a beer, wine and mead, this smooth, dry ale will please with Chardonnay or I.P.A. drinker alike."},
 {'brewery_id': '976',
  'name': 'Pozharnik',
  'cat_id': '3',
  'style_id': '43',
  'abv': '8.1',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '344',
  'name': 'Elephant',
  'cat_id': '7',
  'style_id': '90',
  'abv': '7.2',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '638',
  'name': 'Old Engine Oil Special Reserve (aged in malt whisky casks)',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1182',
  'style_id': '33',
  'upc': '0',
  'name': 'Atomic Raygun Imperial Red',
  'abv': '8.3',
  'descript': "We welcome the latest release Atomic Raygun Imperial Red! Brewed with Pilsner, Chocolate and Caramel malts but well balanced with Columbus and Centennial Hops and coming in at 90 IBU's.  The Octane level on this one is coming in at 8.3!"},
 {'brewery_id': '793',
  'name': 'Hahn Special Vintage 2000',
  'cat_id': '1',
  'style_id': '13',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '727',
  'name': 'Harvest Ale 2006',
  'cat_id': '1',
  'style_id': '13',
  'abv': '11.6',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '182',
  'name': 'Yeti',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '527',
  'name': '1100 Wheat Wine',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '11.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '5',
  'brewery_id': '1251',
  'style_id': '72',
  'upc': '0',
  'name': 'Lost and Found Abbey Ale',
  'abv': '7.5',
  'descript': 'Lost and Found- Modeled after the great Trappist and Monastic beers that inspired the founding of our brewery. A richly deep garnet colored ale created from a blend of Domestic and imported malts. As part of our commitment to interesting brewing endeavors, Chef Vince created a special raisin puree for this beer. Malts, raisins and a fantastic yeast strain working in harmony produce a beer of amazing complexity and depth. Available in 750ml bottles and on draft at select inspired locations.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '5',
  'brewery_id': '272',
  'style_id': '65',
  'upc': '0',
  'name': 'Arabier',
  'abv': '9.0',
  'descript': 'An arabier is a pure malt beer 8Â°vol/alc brewed with flower Nugget-hops from Poperinge. It has the special dry-hopping taste and aroma, so appreciated by beer lovers all over the world. It is one of the two main beers from De Dolle Brouwers throughout the year. Aging time is limited due to the fact that hop bitterness is declining with the time. Store arabier cool and dark and serve cool at 10Â°C. Cheers!'},
 {'brewery_id': '841',
  'name': 'Abbey 8',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1326',
  'style_id': '41',
  'upc': '0',
  'name': 'Yakima Glory',
  'abv': '8.7',
  'descript': 'The tenacious grip of big, juicy hop aroma and character slides smoothly into rich, dark malts. This heavyweight battle between fresh, Yakima Valley hops and dark, roasted malts is resolved harmoniously as the flavors merge to deliver complex satisfaction with a warming edge. Bask in the '},
 {'brewery_id': '249',
  'name': 'Abbey Dubbel',
  'cat_id': '5',
  'style_id': '60',
  'abv': '8.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '908',
  'style_id': '43',
  'upc': '0',
  'name': 'Night Tripper',
  'abv': '10.8',
  'descript': "Night Tripper is an Imperial Stout for a Fat Tuesday release. Dark, mysterious and poetic, Night Tripper's abundance of roasted malts, combined with flaked barley create a rich, roasty beer with deeply intense and lush flavors. Night Tripper's layered, nuanced tones invite intrigue and reward a curious palate."},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '5',
  'brewery_id': '1326',
  'style_id': '72',
  'upc': '0',
  'name': 'V-12',
  'abv': '12.0',
  'descript': 'Heady with a aromatic fruity start and taste, this amber ale features hints of pear and apricot in its well-nuanced flavor. The initial impression of fruitiness concludes in a refreshing dryness that begs you to sip again. Be fore- warned, this ale is immense as it registers 12% abv.'},
 {'brewery_id': '191',
  'name': 'La Quintine Blonde',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '2',
  'brewery_id': '541',
  'style_id': '25',
  'upc': '0',
  'name': 'Imperial Espresso Porter',
  'abv': '8.0',
  'descript': 'This robust dark brew has been created using rich Colombian dark roast coffee to celebrate our 10th anniversary in royal fashion. The enticing regal aromas of toffee and licorice lead to the coronation of taste; a palate of malty richness exhibiting chocolate and coffee notes, balanced by the noble and novel Mt. Rainer hop, all topped with a rich creamy crown. This very special offering will warm your soul and lift your spirits. Oh yeah, it also packs a royal kick at 8% alcohol.'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1410',
  'style_id': '34',
  'upc': '0',
  'name': 'Dank',
  'abv': '9.2',
  'descript': 'Anniversary offering, Imperial Red. Heavily hopped and oak aged, very balanced. 12 oz. bottles; 4 pack. ABV: 9.2%'},
 {'brewery_id': '700',
  'name': 'Russian Imperial Stout',
  'cat_id': '3',
  'style_id': '42',
  'abv': '9.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1211',
  'name': 'Smooth Hoperator',
  'cat_id': '7',
  'style_id': '92',
  'abv': '7.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '363',
  'name': 'Cerveza Diablo',
  'cat_id': '8',
  'style_id': '95',
  'abv': '7.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '157',
  'name': 'Samuel Adams Utopias MMIV',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '24.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '39',
  'name': 'Old Foghorn 2006',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '9.4',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '21',
  'name': 'Grand Cru 2006',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'ibu': '0.0',
  'srm': '0.0',
  'cat_id': '3',
  'brewery_id': '1243',
  'style_id': '33',
  'upc': '0',
  'name': 'Big Hoppy Monster',
  'abv': '8.75',
  'descript': 'This mammoth imperial red ale leads with a tantalizing hop aroma that is quickly complemented by an enormous malt backbone & finished with a multitude of hoppy goodness.'},
 {'brewery_id': '794',
  'name': '186,000 MPS Malt Liquor',
  'cat_id': '-1',
  'style_id': '-1',
  'abv': '10.5',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '605',
  'name': 'Glockenspiel',
  'cat_id': '4',
  'style_id': '55',
  'abv': '8.0',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '483',
  'name': 'Cow Palace Scotch Ale 2001',
  'cat_id': '1',
  'style_id': '15',
  'abv': '11.1',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},
 {'brewery_id': '1417',
  'name': 'Watershed IPA',
  'cat_id': '3',
  'style_id': '30',
  'abv': '7.1',
  'ibu': '0.0',
  'srm': '0.0',
  'upc': '0'},

In [76]:
df_beerswhighabv = pd.DataFrame(beers)

In [77]:
df_beerswhighabv.head()

,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,descript,Unnamed:,12,Stout,0
0,70,Der Weisse Bock,4,55,8.5,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,1373,Norfolk Nog Old Dark Ale,1,13,99.99,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,549,Dirty Bastard Scotch Style Ale,1,15,8.5,0.0,0.0,0,Founders flagship beer. Dirty Bastard is an ab...,NaN,NaN,NaN,NaN
3,960,Otto's Weizenbock,4,55,7.2,0.0,0.0,0,A strong dark German style wheat bock. This wh...,NaN,NaN,NaN,NaN
4,1298,Northwind Imperial Stout,3,42,7.5,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN

# ELT approach

In [23]:
def fetch_all_beers_and_abvs(redis_client, pattern='beer:*'):
    """
    Fetch all beer keys and their ABV values from Redis.
    """
    cursor = '0'
    beers_and_abvs = []

    while cursor != 0:
        cursor, keys = redis_client.scan(cursor=cursor, match=pattern, count=1000)
        for key in keys:
            abv = redis_client.hget(key, 'abv')
            if abv is not None:
                # Store in a dictionary format for easy DataFrame conversion
                beers_and_abvs.append({'beer_key': key, 'abv': abv})
    
    return beers_and_abvs

In [24]:
all_beers_and_abvs = fetch_all_beers_and_abvs(r)

In [25]:
df_beers = pd.DataFrame(all_beers_and_abvs)

In [26]:
df_beers.head()

    beer_key  abv
0  beer:3265  0.0
1   beer:552  5.0
2   beer:761  0.0
3  beer:1852  0.0
4  beer:1080  0.0

In [28]:
df_beers['abv'] = df_beers['abv'].astype(float)

In [29]:
df_filtered = df_beers[df_beers['abv'] > 7]

In [30]:
df_filtered.shape

(753, 2)

In [50]:
df_filtered.head()

     beer_key    abv
5    beer:211   8.50
10  beer:1859  99.99
36  beer:1013   8.50
40  beer:4756   7.20
45  beer:1335   7.50

# ELT Pipeline for all

In [31]:
def fetch_all_matching_data(redis_client, pattern):
    """
    Fetch all data for keys that match the given pattern.
    """
    cursor = '0'
    matching_data = []

    # Create a pipeline for efficient batch operations
    pipeline = redis_client.pipeline()

    while cursor != 0:
        cursor, keys = redis_client.scan(cursor=cursor, match=pattern, count=1000)
        for key in keys:
            # Queue up HGETALL operations for each key in the pipeline
            pipeline.hgetall(key)
        
        # Execute the pipeline and extend our list with the results
        matching_data.extend(pipeline.execute())

    return matching_data

In [32]:

# Example usage: Fetch all data for keys that match the 'brewery:*' pattern
pattern = 'brewery:*'
all_brewery_data = fetch_all_matching_data(r, pattern)

In [33]:
df_breweries = pd.DataFrame(all_brewery_data)

In [34]:
df_breweries.shape

(1406, 11)

In [35]:
df_breweries.head()

,country,state,name,city,address1,code,website,phone,descript,filepath,address2
0,Germany,Sachsen,Brauhaus am WaldschlÃ¶sschen,Dresden,Am Brauhaus 8b,1099,http://www.waldschloesschen.de,+49 351 - 652 39 00,"traditional brew house, founded 1836, make the...",NaN,NaN
1,United States,Idaho,Grand Teton Brewing #2,Victor,430 Old Jackson Highway,83455,http://www.grandtetonbrewing.com/,1-208-787-9000,NaN,NaN,NaN
2,United States,MO,The St. Louis Brewrey,St. Louis,2100 Locust Street,63103,http://http://www.schlafly.com,314-241-2337,The Schlafly Tap Room first opened its doors i...,schlafly.3color_.jpg,NaN
3,Belgium,Hainaut,Brasserie de Brunehaut,Brunehaut,Rue de Panneries 17,7623,http://www.brunehaut.com/,32-069-34-64-11,"An artisanal (non-conglomerate) brewer, Bruneh...",NaN,NaN
4,Germany,Bayern,Hofmark Brauerei,Cham,Hofmarkstrae 15,NaN,NaN,49-(0)9971-/-3301,NaN,NaN,NaN

# Get all Beer data

In [36]:
def fetch_all_beer_data(redis_client, pattern='beer:*'):
    """
    Fetch all beer data from Redis, including the key as 'id'.
    """
    cursor = '0'
    all_beers = []
    pipeline = redis_client.pipeline()

    while cursor != 0:
        cursor, keys = redis_client.scan(cursor=cursor, match=pattern, count=1000)
        for key in keys:
            pipeline.hgetall(key)  # Queue the HGETALL command in the pipeline
            
        # Execute all commands in the pipeline and store responses
        responses = pipeline.execute()
        
        # Combine key ('id') with its data for each beer
        for key, beer_data in zip(keys, responses):
            beer_data['id'] = key  # Include the key as 'id'
            all_beers.append(beer_data)
    
    return all_beers

In [37]:
# Fetch all beer data, including the key as 'id'
all_beer_data = fetch_all_beer_data(r)

In [38]:

# Convert the list of dictionaries into a pandas DataFrame
df_beers = pd.DataFrame(all_beer_data)

In [39]:
df_beers.head()

,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,id,descript,Unnamed:,0,12,Stout,filepath
0,582,Hibernator Winter Ale,-1,-1,0.0,0.0,0.0,0,beer:3265,NaN,NaN,NaN,NaN,NaN,NaN
1,1116,Weizen,4,50,5.0,0.0,0.0,0,beer:552,NaN,NaN,NaN,NaN,NaN,NaN
2,526,Light,-1,-1,0.0,0.0,0.0,0,beer:761,NaN,NaN,NaN,NaN,NaN,NaN
3,636,Altruistic American Ale,3,26,0.0,0.0,0.0,0,beer:1852,NaN,NaN,NaN,NaN,NaN,NaN
4,693,Mojave Red,8,95,0.0,0.0,0.0,0,beer:1080,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_beers.shape

(5213, 15)

# Get data for all beers from breweries in Belgium in database

In [41]:

def fetch_belgian_brewery_ids(redis_client):
    """Fetch IDs of breweries located in Belgium."""
    belgian_brewery_ids = []
    cursor = '0'
    while cursor != 0:
        cursor, keys = redis_client.scan(cursor=cursor, match="brewery:*", count=1000)
        for key in keys:
            country = redis_client.hget(key, 'country')
            if country == 'United States':
                # Extract and store the brewery ID from the key
                brewery_id = key.split(":")[1]
                belgian_brewery_ids.append(brewery_id)
    return belgian_brewery_ids

In [42]:

# Step 1: Fetch Belgian brewery IDs
belgian_brewery_ids = fetch_belgian_brewery_ids(r)

In [43]:
belgian_brewery_ids

['594',
 '1404',
 '1256',
 '122',
 '138',
 '1095',
 '155',
 '1183',
 '868',
 '159',
 '257',
 '575',
 '916',
 '1264',
 '615',
 '57',
 '582',
 '352',
 '1238',
 '1128',
 '1008',
 '441',
 '318',
 '39',
 '535',
 '151',
 '423',
 '855',
 '725',
 '965',
 '815',
 '160',
 '978',
 '1002',
 '132',
 '1279',
 '641',
 '476',
 '47',
 '1293',
 '107',
 '1177',
 '69',
 '56',
 '471',
 '891',
 '55',
 '1235',
 '500',
 '949',
 '602',
 '716',
 '1284',
 '1139',
 '114',
 '1059',
 '841',
 '922',
 '984',
 '731',
 '377',
 '899',
 '1164',
 '673',
 '16',
 '587',
 '437',
 '1248',
 '809',
 '142',
 '1294',
 '821',
 '450',
 '478',
 '407',
 '834',
 '952',
 '337',
 '144',
 '767',
 '444',
 '133',
 '655',
 '501',
 '456',
 '1200',
 '1029',
 '860',
 '1254',
 '780',
 '1144',
 '468',
 '560',
 '969',
 '1309',
 '830',
 '1338',
 '882',
 '1332',
 '817',
 '935',
 '1105',
 '1276',
 '562',
 '1418',
 '1190',
 '848',
 '405',
 '464',
 '524',
 '1055',
 '427',
 '588',
 '1100',
 '565',
 '59',
 '1249',
 '1283',
 '421',
 '314',
 '1244',
 '358',
 '536',
 '1203',
 '256',
 '942',
 '1320',
 '1259',
 '1103',
 '1417',
 '472',
 '1015',
 '956',
 '672',
 '853',
 '1201',
 '1411',
 '1050',
 '1136',
 '528',
 '1372',
 '773',
 '866',
 '1339',
 '941',
 '1065',
 '962',
 '1196',
 '556',
 '42',
 '516',
 '374',
 '23',
 '72',
 '880',
 '139',
 '875',
 '323',
 '811',
 '1160',
 '1209',
 '1172',
 '879',
 '617',
 '764',
 '947',
 '718',
 '676',
 '1246',
 '459',
 '872',
 '792',
 '666',
 '1402',
 '1012',
 '1138',
 '837',
 '92',
 '36',
 '1364',
 '1265',
 '825',
 '14',
 '1357',
 '608',
 '693',
 '979',
 '382',
 '388',
 '492',
 '97',
 '1394',
 '1074',
 '1148',
 '766',
 '1253',
 '235',
 '937',
 '776',
 '1221',
 '496',
 '470',
 '592',
 '239',
 '1193',
 '574',
 '1067',
 '1286',
 '633',
 '143',
 '1234',
 '1232',
 '383',
 '1147',
 '415',
 '1306',
 '1409',
 '10',
 '864',
 '643',
 '1382',
 '1184',
 '227',
 '487',
 '491',
 '1082',
 '8',
 '507',
 '980',
 '917',
 '17',
 '726',
 '1324',
 '1208',
 '839',
 '1211',
 '417',
 '1040',
 '25',
 '1041',
 '1328',
 '624',
 '702',
 '483',
 '974',
 '445',
 '1153',
 '331',
 '709',
 '1079',
 '968',
 '929',
 '1039',
 '89',
 '1009',
 '65',
 '675',
 '1282',
 '1393',
 '719',
 '1314',
 '831',
 '537',
 '701',
 '973',
 '756',
 '1101',
 '242',
 '926',
 '783',
 '81',
 '894',
 '1345',
 '440',
 '1149',
 '411',
 '538',
 '317',
 '760',
 '1054',
 '1049',
 '1166',
 '888',
 '100',
 '802',
 '816',
 '1396',
 '1334',
 '130',
 '724',
 '1313',
 '54',
 '1078',
 '1001',
 '622',
 '1135',
 '1214',
 '475',
 '118',
 '1368',
 '1310',
 '1044',
 '495',
 '559',
 '1180',
 '1230',
 '584',
 '401',
 '1388',
 '1245',
 '625',
 '1098',
 '960',
 '82',
 '581',
 '908',
 '353',
 '708',
 '1143',
 '1316',
 '1179',
 '545',
 '1333',
 '971',
 '332',
 '1387',
 '686',
 '328',
 '924',
 '62',
 '499',
 '683',
 '605',
 '64',
 '906',
 '601',
 '1262',
 '1292',
 '140',
 '338',
 '595',
 '455',
 '438',
 '147',
 '409',
 '1161',
 '642',
 '1351',
 '1171',
 '1010',
 '836',
 '96',
 '645',
 '434',
 '871',
 '466',
 '1327',
 '75',
 '847',
 '410',
 '29',
 '1159',
 '1340',
 '596',
 '591',
 '1108',
 '481',
 '700',
 '1295',
 '541',
 '1145',
 '1335',
 '1069',
 '1354',
 '153',
 '679',
 '46',
 '577',
 '375',
 '327',
 '1297',
 '653',
 '94',
 '755',
 '580',
 '883',
 '593',
 '566',
 '247',
 '915',
 '948',
 '236',
 '505',
 '829',
 '576',
 '1206',
 '589',
 '551',
 '446',
 '1168',
 '769',
 '634',
 '1391',
 '852',
 '452',
 '543',
 '607',
 '1124',
 '1231',
 '759',
 '1163',
 '977',
 '1260',
 '818',
 '380',
 '258',
 '717',
 '540',
 '826',
 '585',
 '1084',
 '1142',
 '1125',
 '162',
 '1365',
 '539',
 '1318',
 '611',
 '240',
 '876',
 '413',
 '823',
 '531',
 '325',
 '734',
 '795',
 '1226',
 '939',
 '350',
 '408',
 '1315',
 '552',
 '1330',
 '1003',
 '21',
 '136',
 '1000',
 '477',
 '692',
 '41',
 '1277',
 '161',
 '945',
 '1127',
 '1268',
 '310',
 '1181',
 '1072',
 '1064',
 '613',
 '632',
 '1243',
 '1247',
 '824',
 '1028',
 '135',
 '1030',
 '525',
 '1397',
 '412',
 '1178',
 '1061',
 '1097',
 '158',
 '447',
 '101',
 '651',
 '1112',
 '976',
 '1384',
 '1133',
 '1063',
 '985',
 '905',
 '1370',
 '966',
 '1269',
 '631',
 '711',
 '1296',
 '1106',
 '1031',
 '665',
 '1236',
 '763',
 '1223',
 '1060',
 '522',
 '1025',
 '526',
 '1077',
 '454',
 '850',
 '1090',
 '1093',
 '1300',
 '311',
 '678',
 '376',
 '720',
 '1301',
 '1150',
 '1359',
 '1046',
 '1250',
 '28',
 '1173',
 '1341',
 '1408',
 '1170',
 '1398',
 '1298',
 '32',
 '674',
 '1363',
 '657',
 '80',
 '1383',
 '1380',
 '313',
 '1175',
 '351',
 '609',
 '737',
 '548',
 '822',
 '782',
 '1076',
 '907',
 '1048',
 '356',
 '739',
 '707',
 '1126',
 '146',
 '863',
 '1042',
 '550',
 '1070',
 '255',
 '854',
 '827',
 '1013',
 '249',
 '1240',
 '1092',
 '51',
 '400',
 '721',
 '508',
 '549',
 '1220',
 '1169',
 '527',
 '846',
 '955',
 '390',
 '857',
 '981',
 '919',
 '1369',
 '610',
 '987',
 '774',
 '932',
 '1205',
 '1258',
 '553',
 '892',
 '1257',
 '394',
 '1227',
 '463',
 '1033',
 '710',
 '754',
 '384',
 '115',
 '1280',
 '379',
 '149',
 '603',
 '691',
 '422',
 '986',
 '341',
 '946',
 '1155',
 '794',
 '381',
 '1014',
 '797',
 '1066',
 '933',
 '1062',
 '1026',
 '34',
 '1361',
 '861',
 '1118',
 '813',
 '35',
 '45',
 '43',
 '1366',
 '1119',
 '784',
 '1129',
 '1158',
 '102',
 '1224',
 '599',
 '157',
 '123',
 '944',
 '79',
 '544',
 '614',
 '801',
 '141',
 '250',
 '116',
 '514',
 '704',
 '124',
 '389',
 '462',
 '347',
 '1071',
 '1410',
 '768',
 '950',
 '319',
 '1321',
 '1390',
 '243',
 '1045',
 '510',
 '644',
 '606',
 '798',
 '943',
 '730',
 '712',
 '439',
 '371',
 '964',
 '851',
 '529',
 '137',
 '485',
 '1326',
 '1004',
 '810',
 '1207',
 '354',
 '393',
 '781',
 '787',
 '677',
 '416',
 '387',
 '1305',
 '385',
 '1263',
 '870',
 '414',
 '38',
 '885',
 '532',
 '699',
 '1218',
 '1075',
 '1346',
 '1304',
 '520',
 '586',
 '44',
 '90',
 '635',
 '688',
 '404',
 '1219',
 '1157',
 '751',
 '858',
 '9',
 '970',
 '523',
 '78',
 '22',
 '1182',
 '803',
 '515',
 '1199',
 '502',
 '959',
 '2',
 '1242',
 '1068',
 '925',
 '1352',
 '1216',
 '604',
 '1035',
 '1',
 '497',
 '1358',
 '87',
 '392',
 '842',
 '765',
 '339',
 '1336',
 '1134',
 '840',
 '443',
 '1278',
 '600',
 '1386',
 '426',
 '1421',
 '975',
 '865',
 '808',
 '435',
 '669',
 '326',
 '461',
 '494',
 '867',
 '521',
 '1399',
 '254',
 '68',
 '893',
 '705',
 '652',
 '1420',
 '469',
 '402',
 '145',
 '1091',
 '1057',
 '1204',
 '1229',
 '1047',
 '636',
 '682',
 '800',
 '874',
 '1212',
 '771',
 '1036',
 '493',
 '963',
 '910',
 '251',
 '1086',
 '775',
 '373',
 '324',
 '1165',
 '934',
 '330',
 '83',
 '396',
 '778',
 '913',
 '391',
 '1131',
 '833',
 '1285',
 '513',
 '736',
 '954',
 '909',
 '812',
 '106',
 '73',
 '504',
 '1261',
 '1107',
 '1109',
 '20',
 '490',
 '1288',
 '869',
 '1151',
 '71',
 '689',
 '348',
 '930',
 '658',
 '1080',
 '512',
 '1038',
 '333',
 '117',
 '1379',
 '355',
 '590',
 '1081',
 '403',
 '1252',
 '789',
 '1255',
 '1225',
 '901',
 '91',
 '66',
 '779',
 '983',
 '398',
 '509',
 '1011',
 '920',
 '1299',
 '150',
 '76',
 '63',
 '706',
 '1052',
 '928',
 '340',
 '1058',
 '936',
 '849',
 '349',
 '623',
 '1271',
 '862',
 '1137',
 '1104',
 '84',
 '921',
 '698',
 '656',
 '895',
 '1343',
 '113',
 '1371',
 '555',
 '723',
 '814',
 '399',
 '1362',
 '1251',
 '530',
 '1197',
 '33',
 '259',
 '583',
 '436',
 '1162',
 '1051',
 '112',
 '1215',
 '904',
 '77',
 '1027',
 '940']

In [51]:
def fetch_beers_from_breweries(redis_client, brewery_ids):
    """Fetch all beers from the given list of brewery IDs."""
    all_beers = []
    for brewery_id in brewery_ids:  # iterate through brewery IDs
        cursor = b'0'  # initialize cursor properly
        while cursor != 0:
            cursor, keys = redis_client.scan(cursor=cursor, match=f"beer:*", count=1000)
            for key in keys:
                beer_data = redis_client.hgetall(key)
                if 'brewery_id' in beer_data and beer_data['brewery_id'] == brewery_id:
                    all_beers.append(beer_data)
            cursor = int(cursor)  # convert cursor to integer for comparison
    return all_beers

In [57]:
# Load the beer data into a pandas DataFrame
df_belgian_beers = pd.DataFrame(belgian_beers)

In [58]:
df_belgian_beers.head()

Empty DataFrame
Columns: []
Index: []

In [64]:
def test_belgian_brewery(redis_client):
    country = redis_client.hget("brewery:3", "country")
    print(f"Brewery 3 country: {country}")

# Use this function to test the retrieval of the country for brewery:3
test_belgian_brewery(r)

Brewery 3 country: Belgium

In [105]:

# Fetch and print the country for brewery:3
country = r.hget("brewery:3", "country")

In [106]:
country

'Belgium'