In [1]:
pip install pymongo

Collecting pymongoNote: you may need to restart the kernel to use updated packages.
  Downloading pymongo-4.6.1-cp39-cp39-win_amd64.whl (472 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.5.0-py3-none-any.whl (305 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.5.0 pymongo-4.6.1

In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['FinSer']
collection = db['Accounts']

In [3]:
# Define filter
filter = {
    'limit': {
        '$lt': 9000
    }
}

# Fetch data from MongoDB
cursor = collection.find(filter=filter)

In [4]:
# Convert cursor to DataFrame
df = pd.DataFrame(list(cursor))

In [5]:
# Do something with the DataFrame, for example, display the first few rows
print(df.head())

                        _id  account_id  limit  \
0  5ca4bbc7a2dd94ee58162458      852986   7000
1  5ca4bbc7a2dd94ee5816247a      777752   7000
2  5ca4bbc7a2dd94ee581624d5      312740   8000
3  5ca4bbc7a2dd94ee58162530      453851   7000
4  5ca4bbc7a2dd94ee58162540      388578   8000

                                            products
0  [Derivatives, Commodity, CurrencyService, Inve...
1  [CurrencyService, Brokerage, Commodity, Invest...
2                 [CurrencyService, InvestmentStock]
3  [CurrencyService, Brokerage, Derivatives, Inve...
4                     [Derivatives, InvestmentStock]

In [8]:
pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Requirement already satisfied: mysqlclient in c:\users\madhavsharma\anaconda3\lib\site-packages (from mysql) (2.1.1)
Installing collected packages: mysql
Successfully installed mysql-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp39-cp39-win_amd64.whl (15.4 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector

In [7]:
try:
    # Connect to MySQL database
    connection = mysql.connector.connect(
        host="localhost",   # Change to your MySQL host if not localhost
        user="root",        # Change to your MySQL username
        password="",        # Change to your MySQL password
        database="a6"  # Change to the name of your MySQL database
    )

    if connection.is_connected():
        print("Connected to MySQL database")

        # Perform database operations here

except mysql.connector.Error as e:
    print("Error connecting to MySQL database:", e)

Connected to MySQL database

In [8]:

        # Define the SQL query
        sql_query = """
            SELECT i.LastName, i.FirstName, i.OfficePhone, c.CourseShortName,
            r.BuildingName, l.LabID, T.StartTime, ci.ComputerID
            FROM instructor i
            JOIN section s ON i.empid = s.empid
            JOIN course c ON s.courseid = c.courseid
            JOIN schedule sc ON s.courseid = sc.courseid
            JOIN room r ON sc.roomid = r.RoomID
            JOIN lab l ON r.roomid = l.LabID
            JOIN Timeslot t ON sc.tsid = t.TSID
            JOIN computerinventory ci ON l.labid = ci.LabID
            WHERE sc.year = 2012 AND sc.Semester = 'summer I';
        """

        # Execute the SQL query and fetch the results
        cursor = connection.cursor(dictionary=True)
        cursor.execute(sql_query)
        result = cursor.fetchall()

        # Convert the result to a DataFrame
        df = pd.DataFrame(result)

In [9]:
# Do something with the DataFrame, for example, display the first few rows
print(df.head())

   LastName FirstName OfficePhone CourseShortName       BuildingName  LabID  \
0     Welch    Arthur  6395676434        CIED4430  Edmon Low Library    119
1  Johnston     Molly  7706439036        CIED4430  Edmon Low Library    119
2    Bailey   Bernard  9001558306        CIED4430  Edmon Low Library    119
3     Garza    Joshua  5344539625        CIED4430  Edmon Low Library    119
4   Marquez     Emily   562516141        CIED4430  Edmon Low Library    119

        StartTime  ComputerID
0 0 days 07:30:00         119
1 0 days 07:30:00         119
2 0 days 07:30:00         119
3 0 days 07:30:00         119
4 0 days 07:30:00         119